<tr>
  <td><%= event.created_at %></td>
  <td><%= event.id %></td>
  <td><%= event.type %></td>
  <td>
    <% if (actor = event.actor) %>
      <a href="<%= actor.url %>"><img class="avatar" src="<%= actor.avatar_url %>" alt="@<%= actor.display_login %>"/></a>
      <a href="<%= actor.url %>"><%= actor.display_login %></a>
    <% end %>
  </td>
  <td>
    <% if (repo = event.repo) %>
      <a href="<%= repo.url %>"><%= repo.name %></a>
    <% end %>
  </td>
</tr>
