<h1>
  <a href="<%= @user.html_url %>"><img class="avatar" src="<%= @user.avatar_url %>" alt="@<%= @user.login %>"/></a>
  <a href="<%= @user.html_url %>"><%= @user.login %></a>
</h1>

<%= render(partial: 'page_nav') %>

<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>ID</th>
    <th>Type</th>
    <th>Actor</th>
    <th>Repository</th>
  </tr>
  </thead>
  <tbody>
  <% if @events.size > 0 %>
    <%= render(partial: 'event_row', collection: @events, as: :event) %>
  <% else %>
  <tr>
    <td colspan="5">
      No events found for <a href="<%= @user.html_url %>"><img class="avatar" src="<%= @user.avatar_url %>" alt="@<%= @user.login %>"/></a>
      <a href="<%= @user.html_url %>"><%= @user.login %></a>.
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
