<!DOCTYPE html>
<html lang="en">
<head>
  <title>gh-events<%= " — #{yield(:title)}" if content_for?(:title) %></title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'reset', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>

<main>
<%= yield %>
</main>

</body>

</html>
